/* Reset básico para remover margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* Ocupa toda a altura da tela */
  background: linear-gradient(to bottom, #ffffff, #455581a4);
  text-align: center;
  padding-top: 100px;
}

/* Estilização do cabeçalho */
header {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgb(3, 3, 3);
  
  position: fixed; /* Mantém o header sempre visível */
  top: 20px; /* Mantém um espaço de 20px entre o header e o topo */
  left: 50%;
  transform: translateX(-50%); /* Centraliza o header na tela */
}

/* Logo e nome do site */
#ado {
  display: flex;
  align-items: center;
  gap: 10px;
}

#ado img {
  max-width: 40px;
  border-radius: 50%;
}

#ado p {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

/* Menu de navegação */
nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

/* Seção Home */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Ajusta a altura para centralização */
  font-size: 25px;
}

/* seção sobre */
#sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Ajusta a altura para centralização */
  font-size: 25px;

}

